{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'zomato_app/styles.css' %}">
</head>
<body>
    
    <div class="navbar">
        <div class="navbar-logo">
            <img src="{% static 'zomato_app/logo.png' %}" alt="Logo">
        </div>
        <div class="navbar-tabs">
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'add_dish' %}">Add Dish</a>
            <a href="{% url 'take_order' %}">Take Order</a>
            <a href="{% url 'review_orders' %}">Review Orders</a>
            <!--  <a href="{% url 'exit_system' %}">Exit</a> -->
        </div>
    </div>
    <h1>Menu</h1>
    <ul>
        {% for dish_id, dish in menu.items %}
        <li>
            {{ dish.name }} - Price: {{ dish.price }}
            {% if dish.availability %}
                <span class="available">Available</span>
            {% else %}
                <span class="unavailable">Unavailable</span>
            {% endif %}
            [<a href="{% url 'remove_dish' dish_id %}">Remove</a>]
            [<a href="{% url 'update_availability' dish_id %}">Toggle Availability</a>]
        </li>
        {% endfor %}
    </ul>
</body>
</html>
